<section id="about" class="ptb ptb-sm-80" style="visibility: visible;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">Let's Google Hangout</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">Join me on Google Hangout to learn about topics in programming and web-development. Let me know what you want to learn and we can find a time.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    <div class="col-md-6 mb-30">
                        <h4>Overview</h4>
                        <div class="spacer-15"></div>
                        <p>We can talk about a specific topic, do a code review, or a programming exercise. It can be about using a library like JQuery, implementing methods like AJAX in Rails, how to integrate an api, or other web development topics. Let me know what you want to learn and we can schedule a time for a google hangout!</p>
                        <div class="spacer-15"></div>
                        <p>If you want to learn to program but don't know where to start? <a href="https://medium.com/@kevinmircovich/i-want-to-learn-to-program-where-do-i-start-44792f5e9637#.xy7u5d4sl" target="_blank">Start here</a>.</p>
                    </div>

                    <br>


                    <div class="col-md-5 pull-right">
                        <div class="skillbar" data-percent="79%">
                            <div class="skillbar-title">Rails</div>
                            <div class="skill-bar-percent">79</div>
                            <div class="skillbar-bar" style="width: 79%;"></div>
                        </div>

                        <div class="skillbar" data-percent="95%">
                            <div class="skillbar-title">Full Stack</div>
                            <div class="skill-bar-percent">95</div>
                            <div class="skillbar-bar" style="width: 95%;"></div>
                        </div>

                        <div class="skillbar" data-percent="85%">
                            <div class="skillbar-title">Javascript</div>
                            <div class="skill-bar-percent">85</div>
                            <div class="skillbar-bar" style="width: 85%;"></div>
                        </div>

                        <div class="skillbar" data-percent="99%">
                            <div class="skillbar-title">Stuff No One Tells You About Development</div>
                            <div class="skill-bar-percent">99</div>
                            <div class="skillbar-bar" style="width: 99%;"></div>
                        </div>

                    </div>

                    

                    <div class="col-md-12">
                        <div class="spacer-15"></div>
                        <h4 class="text-center">Schedule</h4>
                        <div class="col-md-6 col-md-offset-3">
                            <p>Don't see any upcoming sessions? Let's schedule something! <a href="/contact">Contact me</a> and let me know what you want to learn and we can find a time.</p>
                        </div>
                        <div class="spacer-15"></div>
                        <div class="col-md-12">
                            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=a0lpd3ok5kt28seohjl7ma53s4%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="1110" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </section>