<section id="about" class="ptb ptb-sm-80" style="visibility: visible;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">Let's Google Hangout</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">Join me on Google Hangout to learn about topics in programming and web-development. I pick a time and a subject matter. All you have to do is show up.</p>
                    </div>
                </div>
                <div class="row mt-80">
                    <div class="col-md-6 mb-30">
                        <h4>Overview</h4>
                        <div class="spacer-15"></div>
                        <p>I'll select a subject for the evening, for example web scraping. I'll start by getting an idea of where everyones competency is on the subject and get a over view of what it is. From there I'll go through an end-to-end example of how I'd implement, in this case, web scraping. I'll likely give some kind of relevant exercise to try out yourself and send to me for feedback.</p>
                        <p>Subjects will very. It may be about using a library like JQuery, implementing methods like AJAX in Rails, and even some things I've learned the hard way: through hours of hopelessly researching and trying things until I figured it out.</p>
                    </div>

                    <br>

                    <div class="col-md-5 pull-right">
                        <div class="skillbar" data-percent="85%">
                            <div class="skillbar-title">Rails</div>
                            <div class="skill-bar-percent">85%</div>
                            <div class="skillbar-bar" style="width: 85%;"></div>
                        </div>

                        <div class="skillbar" data-percent="95%">
                            <div class="skillbar-title">Full Stack</div>
                            <div class="skill-bar-percent">95%</div>
                            <div class="skillbar-bar" style="width: 95%;"></div>
                        </div>

                        <div class="skillbar" data-percent="40%">
                            <div class="skillbar-title">Javascript</div>
                            <div class="skill-bar-percent">40%</div>
                            <div class="skillbar-bar" style="width: 40%;"></div>
                        </div>

                        <div class="skillbar" data-percent="99%">
                            <div class="skillbar-title">Stuff No One Tells You About Development</div>
                            <div class="skill-bar-percent">99%</div>
                            <div class="skillbar-bar" style="width: 99%;"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="spacer-15"></div>
                        <h4 class="text-center">Schedule</h4>
                    </div> 
                </div>
            </div>
        </section>