<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= form_for(@session, class: "contact-form")  do |f| %>

        <div class="form-field-wrapper">
          <%= f.text_field :email, class: "input-sm form-full", placeholder: "Project Website" %>
        </div>

        <div class="form-field-wrapper">
          <%= f.text_area :password, class: "input-sm form-full", placeholder: "description" %>
        </div>

        <%= f.submit class: "btn btn-md btn-black form-full" %>
      <% end %>

      <div class="spacer-45"></div>
  </div>
</div>