<section class="">
  <div class="container">
    <br><br>
  <div class="container">
    <ul>
      <% @projects.each do |project| %>
        <a href=<%= project_path(project) %> class="link"><h6><%=project.title%></h6></a>
        <p><%= project.pitch %><p>
          <% project.tags.each do |tag| %>
            &nbsp<em><%= tag.name %></em>
          <% end %>
        <br><br><br>
      <% end %>
    </ul>
  </div>
</section>

