<section class="inner-intro bg-img13 overlay-light parallax parallax-background2">
  <div class="container">
    <br><br>
    <% @projects.each do |project| %>
      <%= link_to project.title, project_path(project) %>


      <br><br>
    <% end %>
  </div>
</section>