<br><br><br><br>
<div class="container">
    <div class="row text-center">
        <h2 class="h2"><%= false || "Project Title" %></h2>
    </div>
    <div class="row mt-80">
      <!-- Welcome Content -->
        <div class="col-md-7 mb-30">
          <h4>Description</h4>
          <div class="spacer-15"></div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur?</p>
          <div class="spacer-15"></div>
          <a class="btn-link-a">Github Repo</a><br>
          <%= link_to "See Application", "", class: "btn-link-a", target: "_blank" %>
        </div>

        
        <!-- Accordian -->
        <div class="col-md-4 mb-30">
          <div class="accordion">
            <div class="accordion">
                <div class="accordion-section">
                    <h6 class="accordion-title">Javascript</h6>
                    <div class="accordion-content defualt-hidden" style="display: none;">
                        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                    </div>
                </div>
                <div class="accordion-section">
                    <h6 class="accordion-title">Twitter API</h6>
                    <div class="accordion-content defualt-hidden" style="display: none;">
                        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                    </div>
                </div>
                <div class="accordion-section">
                    <h6 class="accordion-title">NAAO API</h6>
                    <div class="accordion-content defualt-hidden" style="">
                        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                    </div>
                </div>
                <div class="accordion-section">
                    <h6 class="accordion-title">Automation</h6>
                    <div class="accordion-content defualt-hidden" style="">
                        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                    </div>
                </div>
            </div>
          </div>
        </div>

      <!-- End Accordian -->

        
      </div>
    </div>
</div>