<footer class="footer ptb-15 my-footer">
    <div class="container">
        <div class="row">
            <!-- Logo -->
          <!--   <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                <a class="footer-logo" href="home.html">
                    
            </div> -->
            <!-- Logo -->

            <!-- Social -->
            <div class="text-center">
                <ul class="social">
                    <li><a target="_blank" href="https://www.linkedin.com/in/kevinmircovich"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://github.com/mirc89"><i class="fa fa-github"></i></a></li>
                    <li><a target="_blank" href="https://medium.com/@kevinmircovich"><i class="fa fa-medium"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/kevin.mircovich"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <!-- End Social -->
        </div>
    </div>
    <br>
        <hr>
    <br>
    <div class="container text-center">
        <p><%= link_to "Admin Login", "" %></p>
    </div>

</footer>